/* Color Pallete */
:root {
  --primary: #1d4ed8;
  --secondary: #a0a3bd;
}

.primary {
  background-color: var(--primary);
}

.secondary {
  background-color: var(--secondary);
}

.text-primary {
  color: var(--primary);
}

.text-primary {
  color: var(--secondary);
}

/* Font Size */
@font-face {
  font-family: mulishFont;
  src: url(/assets/Mulish/Mulish-VariableFont_wght.ttf);
}

.title-large {
  font-size: 64px;
}

.title-medium {
  font-size: 48px;
}

.title-small {
  font-size: 32px;
}

.text-large {
  font-size: 24px;
}

.text-medium {
  font-size: 18px;
}

.text-small {
  font-size: 16px;
}

.text-extra-small {
  font-size: 14px;
}

.bold {
  font-weight: bold;
}

/* Reset styles */

* {
  margin: 0;
  padding: 0;
  font-family: mulishFont;
}

/* Components */

.circle {
  width: 69px;
  height: 69px;
  border-radius: 100%;
}

.circle {
  width: 69px;
  height: 69px;
  border-radius: 100%;
}

.card {
  width: 358px;
  height: 157px;
  border-radius: 8px;
}
