/* Hero Detail Movies */
.hero-detail-movies {
  background-repeat: no-repeat;
  background-size: cover;
  height: 415px;
}

.movie-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  position: relative;
}

.movies-img {
  width: 300px;
  height: 450px;
  border-radius: 9px;
  position: absolute;
  left: 0px;
  top: -210px;
}

.movies-img img {
  border-radius: 9px;
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.movie-details {
  padding-left: 340px;
}

.movie-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.movie-about {
  display: flex;
  gap: 20px;
}

.movie-release-date {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.movie-release-date div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.movie-directed-cast {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.movie-directed-cast div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.movie-synopsis {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.movie-synopsis p {
  line-height: 1.7;
}

/* Hero Detail Movies */

/* Book Tickets */

.books-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 50px;
}

.choose-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.choose-container button {
  width: 200px;
  height: 50px;
  border-radius: 6px;
  border: none;
  color: white;
  background-color: var(--primary);
}

.choose {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-component {
  position: relative;
  display: flex;
  align-items: center;
}

.input-component img:first-child {
  position: absolute;
  left: 10px;
}

.input-component img:last-child {
  position: absolute;
  right: 10px;
}

/* input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
  cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: none;
  cursor: pointer;
} */

.input-component input {
  padding: 15px;
  width: 250px;
  padding-left: 50px;
  background-color: #eff0f6;
  border: none;
  border-radius: 6px;
}

.choose-cinema {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.choose-cinema-title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.choose-cinema-location {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.choose-cinema-location button {
  background-color: transparent;
}

.choose-cinema-location button:nth-child(2) {
  background-color: var(--primary);
}

.cinema-box:hover {
  background-color: var(--primary);
}

.cinema-box:hover img {
  filter: brightness(0) saturate(100%) invert(100%);
}

.hiflix-cinema {
  filter: brightness(0) saturate(100%) invert(100%);
}

.cinema-box {
  text-align: center;
  place-content: center;
  width: 250px;
  height: 150px;
  border: 1px solid #dedede;
  border-radius: 6px;
}

.next-page {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.next-page button {
  padding: 10px;
  width: 40px;
  border: 1px solid #dedede;
  border-radius: 6px;
  background-color: transparent;
  color: var(--black);
}

.next-page button:first-child {
  border-radius: 6px;
  background-color: var(--primary);
  color: var(--white);
}
.next-page button:hover {
  border-radius: 6px;
  background-color: var(--primary);
  color: var(--white);
}

.book-now {
  display: flex;
  justify-content: center;
}

.book-now button {
  padding: 20px;
  width: 200px;
  background-color: var(--primary);
  color: var(--white);
  border: none;
  border-radius: 6px;
}

/* Book Tickets */

/* Breakpoints */

@media (max-width: 1024px) {
  .choose-container {
    flex-direction: column;
    gap: 20px;
  }

  .choose {
    width: 100%;
  }

  .choose input {
    width: 100%;
  }

  .choose-cinema-location {
    flex-wrap: wrap;
    gap: 20px;
  }

  .cinema-box {
    width: 200px;
  }

  .movies-img {
    top: -120px;
  }

  .movies-img img {
    height: 360px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }

  .cinema-box {
    width: 100%;
  }

  .movies-img img {
    height: 380px;
  }
}

@media (max-width: 640px) {
  .movie-details {
    padding-left: 0;
    margin-top: 50px;
  }

  .movie-directed-cast {
    width: 250px;
  }

  .movie-release-date {
    width: 250px;
  }

  .movie-title .tags-movies {
    justify-content: center;
  }

  .movie-title h1 {
    text-align: center;
  }

  .movies-img {
    top: -250px;
    left: 48px;
    height: 75%;
  }

  .movies-img img {
    height: 300px;
  }
}

@media (max-width: 375px) {
  .movies-img {
    width: 70%;
    top: -250px;
    left: 52px;
    height: 50%;
  }
}

@media (max-width: 320px) {
  .movies-img {
    top: -250px;
    left: 43px;
  }
}

/* Breakpoints */
