main {
  background-color: var(--tertiary);
}

hr {
  border: 1px solid var(--tertiary);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.profile-wrapper {
  padding: 30px 0;
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}

.profile-card {
  width: 400px;
  height: 100%;
  border-radius: 24px;
  background-color: var(--white);
  display: flex;
}

.profile-content {
  padding: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 50px;
}

.profile-hero {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.profile-avatar {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.profile-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profile-name {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
}

.profile-loyalty {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Loyalty Card Section */

.loyalty-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

/* Card */
.loyalty-card {
  width: 100%;
  background-color: var(--primary);
  border-radius: 24px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  /* z-index: 1; */
  position: relative;
  overflow: hidden;
}

.card-shadow {
  background-color: #1d4ed880;
  width: 315px;
  height: 50px;
  border-radius: 24px;
  position: absolute;
  bottom: -8px;
}

.loyalty-points {
  display: flex;
  gap: 5px;
  align-items: end;
}

.ornament {
  position: absolute;
}

.ornament img:first-child {
  position: relative;
  right: -250px;
  top: -70px;
}

.ornament img:nth-child(2) {
  position: relative;
  right: -150px;
  top: -40px;
  z-index: 1;
}

.ornament img:last-child {
  position: relative;
  right: -50px;
  top: -80px;
}

/* Card */

/* Loyalty Slider */
.loyalty-slider {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.card-slider {
  width: 100%;
  height: 20px;
  border-radius: 8px;
  background-color: #f5f6f8;
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card-slider div {
  width: 50%;
  height: 20px;
  border-radius: 8px;
  background-color: var(--primary);
}
/* Loyalty Slider */

/* Loyalty Card Section */

.account-dashboard-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 20px;
}

nav {
  display: flex;
  gap: 50px;
  padding: 0 30px;
  background-color: var(--white);
  border-radius: 24px;
}

.dashboard-nav a {
  padding: 20px 0;
  cursor: pointer;
  color: gray;
}

.isActive {
  color: black !important;
  border-bottom: 2px solid var(--primary);
}

.dashboard-nav a:hover {
  color: black;
  border-bottom: 2px solid var(--primary);
}

.details-information {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  background-color: var(--white);
  border-radius: 24px;
  position: relative;
  overflow: hidden;
}

.details-information-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.account-setting-input {
  display: flex;
  gap: 50px;
}

.settings-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.settings-wrapper input {
  padding: 15px;
  font-size: 16px;
  font-weight: 200;
  border-radius: 16px;
  border: 1px solid #dedede;
  background-color: #fcfdfe;
}

.settings-wrapper span {
  position: absolute;
  padding: 10px;
  left: 8px;
  bottom: 5px;
  border-right: 0.5px solid black;
  color: var(--text-secondary);
  font-weight: 200;
}

#personal-number {
  padding-left: 70px;
}

.settings-wrapper i {
  position: absolute;
  bottom: 17px;
  right: 25px;
  color: gray;
  cursor: pointer;
}

.account-dashboard-section button {
  width: 400px;
  background-color: var(--primary);
  color: var(--white);
  border: none;
  padding: 20px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}

/* Order history */

.details-movie {
  display: flex;
  justify-content: space-between;
}

.title-movie {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  gap: 20px;
}

.cinema-movie {
  padding: 0 20px;
  place-content: center;
}

.split-card {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 90px;
}

.ticket-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#active {
  background-color: #00ba8833;
  color: var(--green);
}

#not-paid {
  background-color: #e82c2c33;
  color: var(--red);
}

#used {
  background-color: #6e719133;
  color: var(--text-secondary);
}

#paid {
  background-color: #1d4ed833;
  color: var(--primary);
}

.ticket-button button {
  width: 200px;
  padding: 10px;
  cursor: unset;
}

.show-details {
  display: flex;
  gap: 20px;
}
/* Order history */

/* Ticket information Not Paid */

.ticket-information {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ticket-notpaid-information {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.wrapper button {
  width: 100px;
  padding: 10px;
  border: 1px solid var(--primary);
  color: var(--primary);
  border-radius: 4px;
  background-color: transparent;
}

.wrapper button:hover {
  background-color: var(--primary);
  color: var(--white);
}

.split-card-2 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 303px;
}

/* Ticket information Not Paid */
.ticket-paid-information {
  display: flex;
  gap: 50px;
}

.ticket-details {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.split-card-3 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 345px;
}

.ticket-details-bottom {
  display: flex;
  justify-content: space-between;
}

.ticket-details-bottom div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.ticket-details-top {
  display: flex;
  justify-content: space-between;
}

.ticket-details-top div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.total-payment {
  display: flex;
  flex-direction: column;
  gap: 5px;
  place-content: center;
}
/* Ticket information Paid */

/* Breakpoints */

@media (max-width: 1024px) {
  .container-1 {
    padding: 20px 50px;
  }

  .profile-wrapper {
    flex-wrap: wrap;
    height: 100%;
  }

  .profile-section {
    width: 100%;
  }

  .profile-card {
    width: 100%;
  }

  .profile-loyalty {
    width: 100%;
  }

  .loyalty-card {
    padding: 60px 20px;
  }

  .loyalty-card-wrapper {
    /* width: 100%; */
    width: 500px;
    align-self: center;
  }

  .ornament {
    right: 70px;
    top: 40px;
  }

  .card-shadow {
    width: 100%;
  }

  .account-dashboard-section button {
    width: unset;
  }
}

@media (max-width: 768px) {
  .loyalty-card-wrapper {
    width: 80%;
  }
}

@media (max-width: 640px) {
  .container-1 {
    padding: 20px 30px;
  }

  .account-setting-input {
    flex-wrap: wrap;
    gap: 20px;
  }

  .ornament {
    right: 50px;
    top: 60px;
  }

  .ornament img {
    width: 30%;
  }

  .ornament img:first-child {
    position: relative;
    right: -225px;
    top: -100px;
  }

  .ornament img:nth-child(2) {
    right: -170px;
    top: -66px;
  }

  .ornament img:last-child {
    width: 20%;
    right: -80px;
    top: -85px;
  }
}

@media (max-width: 425px) {
  .ornament {
    right: 20px;
    top: 60px;
  }

  .ornament img:first-child {
    position: relative;
    right: -225px;
    top: -100px;
  }

  .ornament img:nth-child(2) {
    right: -170px;
    top: -66px;
  }

  .ornament img:last-child {
    width: 15%;
    right: -80px;
    top: -85px;
  }

  .details-movie {
    flex-wrap: wrap-reverse;
  }

  .cinema-movie {
    padding: 0;
  }

  .ticket-status {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .ticket-button {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .split-card {
    bottom: 180px;
  }

  .wrapper {
    flex-wrap: wrap;
  }

  .split-card-2 {
    bottom: 480px;
  }

  .ticket-paid-information {
    flex-wrap: wrap;
  }

  .split-card-3 {
    bottom: 715px;
  }
}

/* Breakpoints */
