/* Color Pallete */
:root {
  --primary: #1d4ed8;
  --secondary: #a0a3bd;
  --tertiary: #ececec;
  --blue-secondary: #1d4ed833;
  --white: #ffffff;
  --black: #0f172a;
  --green: #008000;
  --pink: #f589d7;
  --red: #d00707;
  --text-secondary: #696f79;
  --seat-primary-color: #d6d8e7;
  --seat-secondary-color: #6e7191;
}

.primary {
  background-color: var(--primary);
}

.secondary {
  background-color: var(--secondary);
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--text-secondary);
}

.text-tertiary {
  color: var(--tertiary);
}

.text-white {
  color: var(--white);
}

.text-blue {
  color: var(--primary);
}

.text-red {
  color: var(--red);
}

.blue {
  background-color: var(--primary);
}

.green {
  background-color: var(--green);
}

.gray {
  background-color: var(--secondary);
}

.red {
  background-color: var(--red);
}

.pink {
  background-color: var(--pink);
}

/* Font Size */

.title-extra-large {
  font-size: 64px;
}

.title-extra-medium {
  font-size: 48px;
}

.title-extra-small {
  font-size: 32px;
}

.text-large {
  font-size: 24px;
}

.text-medium {
  font-size: 18px;
}

.text-small {
  font-size: 16px;
}

.text-extra-small {
  font-size: 14px;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.font-semi-bold {
  font-weight: 700;
}

.font-regular {
  font-weight: normal;
}

.font-light {
  font-weight: 300;
}

/* Reset styles */

* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
/* Reset Styles */

/* Container body */

.container {
  max-width: 1366px;
  margin: 0 auto;
  /* margin-top: 20px; */
  padding-top: 20px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* Navbar */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 0.5px solid var(--black);
  max-width: 1366px;
  margin: 0 auto;
}

.header-2 {
  border: none;
}

ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

a {
  color: var(--black);
}

a:hover {
  color: var(--primary);
}

.button-group {
  display: flex;
  gap: 15px;
}

.button {
  background-color: var(--white);
  color: var(--primary);
  padding: 10px 30px;
  border: 2px solid var(--primary);
  border-radius: 4px;
  cursor: pointer;
}

.button-active {
  background-color: var(--primary);
  color: var(--white);
  padding: 10px 30px;
  border: 2px solid var(--primary);
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--primary);
  color: var(--white);
}

/* Navbar */

/* Footer */

footer {
  padding: 30px;
  padding-top: 100px;
  max-width: 1366px;
  margin: 0 auto;
}

.footer-list {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  width: 300px;
  line-height: 30px;
}

.footer-explore {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.explore-list {
  flex-direction: column;
  gap: 10px;
}

.footer-sponsor {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 30px;
}

.sponsor-list {
  flex-direction: column;
}

.footer-socialmedia {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 30px;
}

.socialmedia-list {
  flex-direction: column;
  gap: 20px;
}

.socialmedia-list li {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer h5 {
  text-align: center;
  margin-top: 50px;
}

/* Footer */

/* Movies tag */
.tags-movies {
  display: flex;
  gap: 20px;
}

.tags {
  padding: 10px 30px;
  font-weight: 100;
  border-radius: 20px;
  background-color: var(--tertiary);
  color: var(--text-secondary);
}

/* Movies Tag */

/* Circle Progress */

.signup-step {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper-step {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.wrapper-line {
  display: flex;
  gap: 10px;
}

.short-line {
  width: 10px;
  height: 1px;
  background-color: var(--secondary);
}

.long-line {
  width: 20px;
  height: 1px;
  background-color: var(--secondary);
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

/* Circle Progress */

/* Circle Component */
.circle {
  width: 69px;
  height: 69px;
  border-radius: 100%;
}

/* Circle Component */
