body {
  /* max-width: 1366px; */
  margin: 0 auto;
}

.hero {
  display: flex;
  gap: 20px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.hero-right {
  position: relative;
  top: 40px;
  display: grid;
  grid-template-areas:
    "movie-1 movie-2"
    "movie-3 movie-4"
    "movie-3 movie-4";
  gap: 10px;
}

.movie-1 {
  grid-area: movie-1;
}

.movie-2 {
  grid-area: movie-2;
}

.movie-3 {
  grid-area: movie-3;
  position: relative;
  bottom: 81px;
}

.movie-4 {
  grid-area: movie-4;
}

/* Contaienr After Hero */

/* Why Choose Us */

.why-choose-us {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 400px;
}

.card-wrapper p {
  color: var(--secondary);
  line-height: 2;
}

.icon-circle {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  background-color: var(--blue-secondary);
  border-radius: 100%;
}

.icon-circle img {
  width: 25px;
}

/* Exciting movies */

.exciting-movies {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 30px;
}

.card-movies {
  display: flex;
  width: fit-content;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.movies-desc {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.movies-img {
  position: relative;
  width: 100%;
}

.movies-img-2 img {
  width: 100%;
}

.card-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.button-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.button-overlay button {
  font-size: 14px;
  font-weight: 200;
  padding: 10px;
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
}

.button-overlay a button:first-child {
  border: 1px solid white;
  background-color: transparent;
  color: white;
}

.button-overlay a button:hover {
  border: none;
  background-color: var(--primary);
  color: white;
}

.button-overlay a:last-child button:last-child {
  border: none;
  background-color: var(--primary);
  color: white;
}

.card-overlay:hover {
  opacity: 1;
  transition: 0.5s ease;
}

.movies-img img {
  width: 100%;
  height: auto;
  display: block;
}

.movies-img:hover .flag-recommendations {
  opacity: 0;
}

.flag-recommendations {
  position: absolute;
  top: 20px;
  transition: opacity 0.3s ease;
}

.flag-recommendations h5 {
  color: white;
  background-color: var(--primary);
  font-weight: 200;
  font-size: 14px;
  padding: 5px;
  width: fit-content;
  border-radius: 0 20px 20px 0;
}

.button-view {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button-view {
  color: var(--primary);
}

/* Upcoming Movies */

.upcoming-movies {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.wrapper-upcoming {
  display: flex;
  justify-content: space-between;
}

.next-button {
  display: flex;
  gap: 10px;
}

.next-button .circle:last-child {
  color: white;
  background-color: var(--primary);
}

.circle {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-secondary);
  border-radius: 100%;
}

/* Newslatters */

.newslatters-container {
  background-color: var(--primary);
  padding: 100px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  overflow: hidden;
}

.form-newslatters {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.form-newslatters input {
  padding: 15px;
  width: 230px;
  border: 1px solid white;
  border-radius: 9px;
  background-color: transparent;
  color: white;
}

input::placeholder {
  color: white;
}

input:focus {
  color: white;
}

.form-newslatters button {
  padding: 15px;
  border-radius: 9px;
  border: none;
  width: 230px;
  background-color: white;
}

.circle-bg {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Hero list movies Pages styles */

/* Hero */

.hero-listmovies {
  background: linear-gradient(rgb(0, 0, 0, 0.7)),
    url(/assets/background/background.png);
  object-fit: cover;
  background-position: center;
  padding: 150px 0;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 1366px;
  margin: 0 auto;
  line-height: 1.5;
}

.shape-next {
  position: relative;
  top: 100px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.shape-next div:first-child {
  width: 70px;
  height: 10px;
  border-radius: 4px;
  background-color: var(--primary);
}

.shape-next div:nth-child(2) {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: white;
}

.shape-next div:nth-child(3) {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: white;
}

/* Hero */

/* Menu search */

.search-menu-listmovies {
  display: flex;
  gap: 50px;
  /* justify-content: space-between; */
}

.search-event {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search-component {
  position: relative;
}

.search-component input {
  padding: 10px;
  padding-left: 50px;
  width: 305px;
}

.search-component input::placeholder {
  color: var(--text-secondary);
}

.search-component input:focus {
  color: black;
}

.search-component i {
  position: absolute;
  left: 20px;
  top: 12px;
  color: var(--text-secondary);
}

.search-filter {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search-list {
  display: flex;
  align-items: center;
  height: 100%;
}

.search-list ul {
  gap: 100px;
}

.search-list a {
  padding: 10px 20px;
  border-radius: 4px;
  color: var(--text-secondary);
}

.search-list a:first-child {
  background-color: var(--primary);
  color: white;
}

.search-list a:hover {
  background-color: var(--primary);
  color: white;
}

/* Next List */
.next-listmovie {
  display: flex;
  justify-content: center;
  width: 100%;
}

.next-listmovie .circle {
  width: 40px;
  height: 40px;
}

.next-listmovie .circle:first-child {
  background-color: var(--primary);
  color: white;
}
/* Hero list movies Pages styles */

/* Breakpoints */
@media (max-width: 1024px) {
  .hero {
    flex-wrap: wrap;
    text-align: center;
  }

  .hero-right {
    margin: 0 auto;
  }

  .why-choose-us {
    text-align: center;
  }

  .why-choose-us .card-container {
    justify-content: center;
  }

  .card-container {
    width: 100%;
    justify-content: space-around;
  }

  .card-wrapper {
    align-items: center;
  }

  .card-movies {
    width: 35%;
  }

  .form-newslatters {
    flex-wrap: wrap;
  }

  .search-list ul {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }

  .search-menu-listmovies {
    width: 100%;
  }

  .search-component {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .search-event {
    width: 100%;
  }

  .search-menu-listmovies {
    flex-wrap: wrap;
  }

  .next-button {
    display: flex;
  }

  .newslatters-container {
    padding: 50px 20px;
  }

  .newslatters-container h1 {
    font-size: 30px;
  }

  .card-movies {
    width: 45%;
  }

  .card-container {
    justify-content: space-between;
  }
}

@media (max-width: 640px) {
  .card-container {
    overflow-x: scroll;
    flex-wrap: nowrap;
  }

  .movies-img img {
    width: unset;
  }

  .movies-img-2 img {
    width: unset;
  }

  .search-component input {
    width: 250px;
  }

  .card-movies {
    width: 100%;
  }

  .hero-right img {
    width: 80%;
  }

  .movie-1 {
    justify-self: end;
  }

  .movie-3 {
    bottom: 55px;
    justify-self: end;
  }

  .hero-listmovies h1 {
    font-size: 48px;
  }

  .wrapper-upcoming {
    flex-direction: column;
    gap: 20px;
  }

  .form-newslatters input {
    width: 100%;
  }

  .form-newslatters button {
    width: 100%;
  }
}
